Repository matter-labs/zksync-easy-onramp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

chore: add tsconfig
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --ignore-unknown --write

chore: add cspell config
  .vscode/extensions.json
  cspell.json
Due: prettier --ignore-unknown --write

chore: update readme
  README.md
Due: none

chore: update github actions
  .github/workflows/check-pr-title.yaml
  .github/workflows/secrets_scanner.yaml
Due: prettier --ignore-unknown --write

chore: add github action for linting
  .github/workflows/check-pr-title.yaml
  .github/workflows/checks.yaml
  .github/workflows/secrets_scanner.yaml
Due: prettier --ignore-unknown --write

Setup repo (#1)
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/workflows/check-pr-title.yaml
  .github/workflows/checks.yaml
  .github/workflows/secrets_scanner.yaml
  .gitignore
  .husky/commit-msg
  .husky/install.mjs
  .husky/post-merge
  .husky/pre-commit
  .lintstagedrc.yml
  .markdownlint-cli2.jsonc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  commitlint.config.js
  cspell.json
  eslint.config.js
  package-lock.json
  package.json
  packages/sdk/package.json
  packages/server/package.json
  tsconfig.base.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: remove dockerfile for now
  packages/server/apps/api/Dockerfile
Due: none

fix: remove exception filter
  packages/server/apps/api/src/all-exceptions.filter.ts
  packages/server/apps/api/src/main.ts
Due: eslint --fix

chore: setup sdk project
  .github/workflows/checks.yaml
  README.md
  commitlint.config.js
  cspell.json
  eslint.config.js
  package-lock.json
  package.json
  packages/sdk/.npmignore
  packages/sdk/.prettierignore
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/dev.ts
  packages/sdk/src/main.ts
  packages/sdk/src/typescript.svg
  packages/sdk/src/vite-env.d.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix eslint config
  eslint.config.js
  package-lock.json
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix github codeowners
  .github/CODEOWNERS
Due: none

fix: edit commands
  .github/workflows/checks.yaml
  package.json
Due: prettier --ignore-unknown --write

chore: fix github codeowners (#5)
  .github/CODEOWNERS
Due: none

chore: setup sdk project (#4)
  .github/workflows/checks.yaml
  README.md
  commitlint.config.js
  cspell.json
  eslint.config.js
  package-lock.json
  package.json
  packages/sdk/.npmignore
  packages/sdk/.prettierignore
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/dev.ts
  packages/sdk/src/main.ts
  packages/sdk/src/typescript.svg
  packages/sdk/src/vite-env.d.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite.config.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix linting
  .prettierignore
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/config.ts
  packages/server/apps/api/src/health/health.controller.ts
  packages/server/apps/api/src/main.ts
  packages/server/apps/api/src/metrics/metrics.module.ts
  packages/server/apps/api/src/metrics/metrics.provider.ts
  packages/server/apps/api/src/middlewares/metrics.middleware.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/apps/api/src/transform.interceptor.ts
  packages/server/libs/db/src/db.module.ts
  packages/server/libs/db/src/dbMetrics.service.ts
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/provider.entity.ts
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/entities/token.entity.ts
  packages/server/libs/db/src/metrics/metrics.provider.ts
  packages/server/libs/db/src/typeorm.config.ts
  packages/server/libs/db/src/unitOfWork/unitOfWork.module.ts
  packages/server/libs/db/src/unitOfWork/unitOfWork.provider.ts
  packages/server/libs/logger/src/index.ts
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: update package-lock.json
  package-lock.json
Due: prettier --ignore-unknown --write

chore: cleanup project
  README.md
  package-lock.json
  package.json
  packages/sdk/index.html
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/main.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: cleanup project (#6)
  README.md
  package-lock.json
  package.json
  packages/sdk/index.html
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/main.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: add renovate config
  renovate.json
Due: prettier --ignore-unknown --write

feat(server): kado integration + first functional endpoints
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/main.ts
  packages/server/apps/api/src/quote/index.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.dto.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/apps/api/src/transform.interceptor.ts
  packages/server/apps/api/src/utils/helpers.ts
  packages/server/apps/api/src/utils/types.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/common/src/index.ts
  packages/server/libs/common/src/quotes/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/common/tsconfig.lib.json
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/provider.entity.ts
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/entities/token.entity.ts
  packages/server/libs/db/src/enums/index.ts
  packages/server/libs/db/src/migrations/1738613927423-Initial.ts
  packages/server/libs/db/src/repositories/base.repository.ts
  packages/server/libs/providers/src/index.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers-registry.service.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/index.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/kado/types.ts
  packages/server/libs/providers/tsconfig.lib.json
  packages/server/nest-cli.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

fix: add steps to onramp
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

fix: server startup
  packages/server/libs/db/src/unitOfWork/unitOfWork.provider.ts
Due: eslint --fix

fix: server update and fixes
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/libs/common/src/currencies/index.ts
  packages/server/libs/common/src/decorators/to-number.ts
  packages/server/libs/common/src/decorators/to-strings-array.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

fix: unblock fetch quote on server restart
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

fix: simplify and reuse quote data
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

fix: convert endpoint to get
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/libs/common/src/decorators/to-number.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

chore: remove redundant logs and comments
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/libs/common/src/decorators/to-number.ts
Due: eslint --fix

feat(server): kado integration + first functional endpoints (#8)
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/main.ts
  packages/server/apps/api/src/quote/index.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.dto.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/apps/api/src/transform.interceptor.ts
  packages/server/apps/api/src/utils/helpers.ts
  packages/server/apps/api/src/utils/types.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/common/src/currencies/index.ts
  packages/server/libs/common/src/decorators/to-number.ts
  packages/server/libs/common/src/decorators/to-strings-array.ts
  packages/server/libs/common/src/index.ts
  packages/server/libs/common/src/quotes/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/common/tsconfig.lib.json
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/provider.entity.ts
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/entities/token.entity.ts
  packages/server/libs/db/src/enums/index.ts
  packages/server/libs/db/src/migrations/1738613927423-Initial.ts
  packages/server/libs/db/src/repositories/base.repository.ts
  packages/server/libs/db/src/unitOfWork/unitOfWork.provider.ts
  packages/server/libs/providers/src/index.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers-registry.service.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/index.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/kado/types.ts
  packages/server/libs/providers/tsconfig.lib.json
  packages/server/nest-cli.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

feat(sdk): add fetchQuote api
  README.md
  cspell.json
  eslint.config.js
  package-lock.json
  package.json
  packages/sdk/.env.example
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/index.ts
  packages/sdk/src/main.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/sdk/vite.config.ts
  packages/server/libs/common/src/decorators/to-boolean.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/repositories/base.repository.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/utils/groupBy.ts
  packages/server/package.json
  renovate.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: add renovate config (#7)
  renovate.json
Due: prettier --ignore-unknown --write

feat(sdk): add fetchQuote api (#9)
  README.md
  cspell.json
  eslint.config.js
  package-lock.json
  package.json
  packages/sdk/.env.example
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/index.ts
  packages/sdk/src/main.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/sdk/vite.config.ts
  packages/server/libs/common/src/decorators/to-boolean.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/repositories/base.repository.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/package.json
  renovate.json
Due: eslint --fix, prettier --ignore-unknown --write

feat: add binance pay integration
  packages/server/.env.example
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/binance/binance.provider.ts
  packages/server/libs/providers/src/providers/binance/index.ts
  packages/server/libs/providers/src/providers/binance/types.ts
Due: eslint --fix

chore: remove husky post-merge
  .husky/post-merge
Due: none

chore: fix linting errors
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  package-lock.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: set node version for workflows
  .github/workflows/checks.yaml
Due: prettier --ignore-unknown --write

chore: update gh workflow
  .github/workflows/checks.yaml
Due: prettier --ignore-unknown --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,jsx,tsx,mjs,cjs,mts}
  prettier --ignore-unknown --write: any of: *.{json,yml,jsonc,yaml,html,css,scss}
