Repository matter-labs/zksync-easy-onramp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

chore: update package-lock.json
  package-lock.json
Due: prettier --ignore-unknown --write

feat: add transak support
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

chore: add env var for release package
  .github/workflows/release.yaml
  package-lock.json
Due: prettier --ignore-unknown --write

chore: move api url into config for sdk
  .github/workflows/release.yaml
  packages/sdk/.env.example
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: edit server env variables
  packages/server/.env.example
Due: none

chore: small fixes (#31)
  .changeset/major-lizards-serve.md
  .github/workflows/release.yaml
  CONTRIBUTION.md
  README.md
  SECURITY.md
  apps/demo/README.md
  docs/commit-messages.md
  docs/releases.md
  package-lock.json
  packages/sdk/.env.example
  packages/sdk/README.md
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
  packages/server/.env.example
Due: eslint --fix, prettier --ignore-unknown --write

chore(changeset): version packages (#33)
  .changeset/major-lizards-serve.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

chore: edit release workflow
  .github/workflows/release.yaml
  .husky/post-checkout
  .husky/post-merge
Due: prettier --ignore-unknown --write

chore: set viem as external dependency for sdk
  .changeset/hot-schools-follow.md
  packages/sdk/package.json
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: set viem as peerdependency in sdk (#34)
  .changeset/hot-schools-follow.md
  .github/workflows/release.yaml
  .husky/post-checkout
  .husky/post-merge
  packages/sdk/package.json
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: release configuration
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

fix: release configuration (#35)
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

chore(changeset): version packages (#36)
  .changeset/hot-schools-follow.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

fix: finish transak provider
  package-lock.json
  packages/server/.env.example
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers-registry.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/index.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/providers/src/providers/transak/type.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: add changeset
  .changeset/smart-stars-rescue.md
Due: none

chore: package deps version updates for key packages
  .changeset/bumpy-heads-change.md
  apps/demo/package.json
  apps/demo/vite.config.ts
  package-lock.json
  packages/sdk/package.json
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: update API endpoint in sdk config
  .changeset/crazy-olives-shop.md
  packages/sdk/src/config.ts
Due: eslint --fix

chore: update API endpoint in sdk config (#39)
  .changeset/crazy-olives-shop.md
  packages/sdk/src/config.ts
Due: eslint --fix

chore: package deps version updates for key packages (#38)
  .changeset/bumpy-heads-change.md
  apps/demo/package.json
  apps/demo/vite.config.ts
  package-lock.json
  packages/sdk/package.json
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: add nodejs license check workflow
  .github/workflows/nodejs-license.yaml
Due: prettier --ignore-unknown --write

chore: add nodejs license check workflow (#40)
  .github/workflows/nodejs-license.yaml
Due: prettier --ignore-unknown --write

chore: add publish flag to release workflow
  .changeset/big-flowers-occur.md
  .github/workflows/release.yaml
  packages/sdk/src/config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: add more codeowners
  .github/CODEOWNERS
Due: none

chore: add publish flag to release workflow (#42)
  .changeset/big-flowers-occur.md
  .github/CODEOWNERS
  .github/workflows/release.yaml
  packages/sdk/src/config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore(changeset): version packages (#41)
  .changeset/big-flowers-occur.md
  .changeset/bumpy-heads-change.md
  .changeset/crazy-olives-shop.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

chore: add separate keys for staging and prod transak
  package-lock.json
  packages/server/.env.example
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: add server dockerfile
  package-lock.json
  package.json
  packages/server/apps/api/Dockerfile
Due: prettier --ignore-unknown --write

chore: update dockerfile port env
  packages/server/apps/api/Dockerfile
Due: none

chore: add server dockerfile (#43)
  package-lock.json
  package.json
  packages/server/apps/api/Dockerfile
Due: prettier --ignore-unknown --write

add ci/cd for build and push docker images
  .github/workflows/build-push-docker.yml
Due: prettier --ignore-unknown --write

chore: add server release workflow
  .github/workflows/server-release.yaml
Due: prettier --ignore-unknown --write

chore: temp add trigger on pr to main
  .github/workflows/server-release.yaml
Due: prettier --ignore-unknown --write

fix: update dockerfile location in the workflow
  .github/workflows/server-release.yaml
Due: prettier --ignore-unknown --write

chore: remove temp workflow trigger
  .github/workflows/server-release.yaml
Due: prettier --ignore-unknown --write

chore: add server release workflow (#44)
  .github/workflows/server-release.yaml
Due: prettier --ignore-unknown --write

chore: update database env names
  packages/server/.env.example
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: update database env names (#45)
  packages/server/.env.example
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: add default db port
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: add default db port (#46)
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: run migrations on server start
  packages/server/apps/api/src/main.ts
  packages/server/libs/db/src/runMigrations.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,jsx,tsx,mjs,cjs,mts}
  prettier --ignore-unknown --write: any of: *.{json,yml,jsonc,yaml,html,css,scss}
