Repository matter-labs/zksync-easy-onramp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.yml:

"*.{js,ts,vue,jsx,tsx,mjs,cjs,mts}":
  - eslint --fix
"*.{json,yml,jsonc,yaml,html,css,scss}":
  - prettier --ignore-unknown --write

chore: initialize changeset
  .changeset/README.md
  .changeset/config.json
  apps/demo/package.json
  package-lock.json
  package.json
  packages/sdk/package.json
  packages/server/package.json
Due: prettier --ignore-unknown --write

chore: cleanup
  apps/demo/src/stores/quotes.ts
  eslint.config.js
  packages/sdk/turbo.json
  packages/server/turbo.json
  turbo.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: fix ci workflow
  .github/workflows/checks.yaml
  apps/demo/turbo.json
  package-lock.json
Due: prettier --ignore-unknown --write

fix: use zksync as default chain
  apps/demo/src/utils/wagmi-adapter.ts
  packages/sdk/src/dev.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/swaps/src/swaps.service.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
Due: eslint --fix

feat: config endpoint with the list of tokens, chains, providers
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/apps/api/src/config-controller/index.ts
  packages/server/libs/providers/src/index.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/tokens/src/tokens.service.ts
Due: eslint --fix

fix: default demo app quote data
  apps/demo/src/components/on-ramp-views/FormView.vue
Due: eslint --fix

feat: full start, stop, update and restart onramping state (#21)
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/stores/order-processing.ts
  cspell.json
  eslint.config.js
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/core/executors/BaseStepExecutor.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/executors/LifiStepExecutor.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: use lower amount for test swap
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/swaps/src/swaps.service.ts
Due: eslint --fix

feat: config endpoint with the list of tokens, chains, providers (#24)
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/apps/api/src/config-controller/index.ts
  packages/server/libs/providers/src/index.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/tokens/src/tokens.service.ts
Due: eslint --fix

fix: use zksync as default chain (#23)
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/utils/wagmi-adapter.ts
  packages/sdk/src/dev.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/swaps/src/swaps.service.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
Due: eslint --fix

feat(server): support kyc and countries list
  packages/server/libs/db/src/entities/index.ts
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/provider.entity.ts
  packages/server/libs/db/src/entities/supported-country.entity.ts
  packages/server/libs/db/src/entities/supported-kyc.entity.ts
  packages/server/libs/db/src/migrations/1741634935258-AddCountryAndKycTables.ts
  packages/server/libs/db/src/repositories/index.ts
  packages/server/libs/db/src/repositories/supported-country.repository.ts
  packages/server/libs/db/src/repositories/supported-kyc.repository.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/kado/types.ts
  packages/server/libs/tokens/src/config.ts
Due: eslint --fix

feat(server): support kyc and countries list (#26)
  packages/server/libs/db/src/entities/index.ts
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/provider.entity.ts
  packages/server/libs/db/src/entities/supported-country.entity.ts
  packages/server/libs/db/src/entities/supported-kyc.entity.ts
  packages/server/libs/db/src/migrations/1741634935258-AddCountryAndKycTables.ts
  packages/server/libs/db/src/repositories/index.ts
  packages/server/libs/db/src/repositories/supported-country.repository.ts
  packages/server/libs/db/src/repositories/supported-kyc.repository.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/kado/types.ts
  packages/server/libs/tokens/src/config.ts
Due: eslint --fix

chore: add changeset and rename packages
  .changeset/README.md
  .changeset/config.json
  apps/demo/package.json
  package-lock.json
  package.json
  packages/sdk/package.json
  packages/server/package.json
Due: prettier --ignore-unknown --write

chore: update reference to package name
  .github/workflows/checks.yaml
  apps/demo/package.json
  apps/demo/src/components/on-ramp-components/ProcessStatusIcon.vue
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-components/RouteSummary.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/stores/connector.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/quotes.ts
  apps/demo/src/stores/routes.ts
  apps/demo/src/stores/transaction.ts
  apps/demo/src/utils/payment-method.ts
  package-lock.json
  package.json
  packages/sdk/package.json
Due: eslint --fix, prettier --ignore-unknown --write

fix: bug in demo with @reown
  apps/demo/package.json
  apps/demo/src/components/on-ramp-components/ProcessStatusIcon.vue
  apps/demo/vite.config.ts
  package-lock.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: bugfixes wip
  .github/workflows/checks.yaml
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/utils/wagmi-adapter.ts
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: edits to package.json
  package-lock.json
  package.json
  packages/server/package.json
Due: prettier --ignore-unknown --write

chore: add changeset scripts to package.json
  package.json
Due: prettier --ignore-unknown --write

chore: edit publish command
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore: add release gh action
  .changeset/config.json
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

chore: add server to changeset management
  .changeset/config.json
  packages/server/package.json
Due: prettier --ignore-unknown --write

chore: npm publishing (#25)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/checks.yaml
  .github/workflows/release.yaml
  apps/demo/package.json
  apps/demo/src/components/on-ramp-components/ProcessStatusIcon.vue
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-components/RouteSummary.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/stores/connector.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/quotes.ts
  apps/demo/src/stores/routes.ts
  apps/demo/src/stores/transaction.ts
  apps/demo/src/utils/payment-method.ts
  apps/demo/src/utils/wagmi-adapter.ts
  apps/demo/vite.config.ts
  package-lock.json
  package.json
  packages/sdk/package.json
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

feat: add connection to config api endpoint for sdk
  packages/sdk/index.html
  packages/sdk/src/api.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/libs/tokens/src/tokens.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: package-lock.json update
  package-lock.json
Due: prettier --ignore-unknown --write

chore: update demo with api config
  apps/demo/package.json
  apps/demo/src/App.vue
  apps/demo/src/components/TokenIcon.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/components/on-ramp-views/SelectTokensView.vue
  apps/demo/src/main.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/onramp-config.ts
  apps/demo/src/stores/quotes.ts
  package-lock.json
  packages/sdk/src/api.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/libs/tokens/src/tokens.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: edit styling on demo
  apps/demo/src/components/on-ramp-views/FormView.vue
Due: eslint --fix

chore: update npm secret token name
  .github/workflows/release.yaml
  package-lock.json
Due: prettier --ignore-unknown --write

chore: update npm secret token name (#28)
  .github/workflows/release.yaml
  package-lock.json
Due: prettier --ignore-unknown --write

chore: update package.json
  package-lock.json
Due: prettier --ignore-unknown --write

chore: update release workflow
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

chore: create changeset release
  .changeset/twelve-glasses-exist.md
Due: none

feat: add config api endpoint into sdk (#29)
  .changeset/twelve-glasses-exist.md
  .github/workflows/release.yaml
  apps/demo/package.json
  apps/demo/src/App.vue
  apps/demo/src/components/TokenIcon.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/components/on-ramp-views/SelectTokensView.vue
  apps/demo/src/main.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/onramp-config.ts
  apps/demo/src/stores/quotes.ts
  package-lock.json
  packages/sdk/index.html
  packages/sdk/src/api.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/libs/tokens/src/tokens.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: update release workflow
  .github/workflows/release.yaml
  package-lock.json
Due: prettier --ignore-unknown --write

docs: add readme for zksync-easy-onramp sdk
  packages/sdk/README.md
Due: none

docs: update readme docs
  .changeset/major-lizards-serve.md
  CONTRIBUTION.md
  README.md
  SECURITY.md
  apps/demo/README.md
  packages/sdk/.env.example
  packages/sdk/README.md
  packages/server/.env.example
Due: none

docs: add project docs
  README.md
  docs/commit-messages.md
  docs/releases.md
Due: none
