Repository matter-labs/zksync-easy-onramp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.yml:

"*.{js,ts,vue,jsx,tsx,mjs,cjs,mts}":
  - eslint --fix
"*.{json,yml,jsonc,yaml,html,css,scss}":
  - prettier --ignore-unknown --write

fix: quote by payment method
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/helpers.ts
  packages/server/libs/common/src/quotes/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/enums/index.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/tokens/src/utils/index.ts
Due: eslint --fix

feat!: quotes now grouped by provider
  .changeset/sour-shoes-wash.md
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/onramp-config.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/utils/payment-method.ts
  packages/sdk/README.md
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/sdk/src/utils/filterByPaymentMethod.ts
  packages/sdk/src/utils/quoteToRoute.ts
  packages/sdk/src/utils/sortByFees.ts
  packages/sdk/src/utils/sortByHighestReturn.ts
  packages/sdk/src/utils/sortProviderQuotes.ts
Due: eslint --fix

fix: quote by payment method (#56)
  .changeset/sour-shoes-wash.md
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/onramp-config.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/utils/payment-method.ts
  packages/sdk/README.md
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/sdk/src/utils/filterByPaymentMethod.ts
  packages/sdk/src/utils/quoteToRoute.ts
  packages/sdk/src/utils/sortByFees.ts
  packages/sdk/src/utils/sortByHighestReturn.ts
  packages/sdk/src/utils/sortProviderQuotes.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/helpers.ts
  packages/server/libs/common/src/quotes/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/enums/index.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/tokens/src/utils/index.ts
Due: eslint --fix

chore(changeset): version packages (#59)
  .changeset/fancy-forks-reply.md
  .changeset/sour-shoes-wash.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

fix: route type missing properties
  .changeset/slow-cows-doubt.md
  packages/sdk/src/types/sdk.ts
Due: eslint --fix

fix: route type missing properties (#60)
  .changeset/slow-cows-doubt.md
  packages/sdk/src/types/sdk.ts
Due: eslint --fix

chore(changeset): version packages (#61)
  .changeset/slow-cows-doubt.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

fix: lifi quote type
  .changeset/three-ears-sell.md
  apps/demo/src/stores/connector.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
Due: eslint --fix

fix: route type
  .changeset/three-ears-sell.md
  packages/sdk/src/types/sdk.ts
Due: eslint --fix

fix: lifi quote type (#62)
  .changeset/three-ears-sell.md
  apps/demo/src/stores/connector.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix

chore(changeset): version packages (#63)
  .changeset/three-ears-sell.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

chore: remove devxp from codeowners
  .github/CODEOWNERS
Due: none

chore: remove devxp from codeowners (#64)
  .github/CODEOWNERS
Due: none

feat: add feature to configure services for quotes
  .changeset/cyan-rooms-share.md
  apps/demo/src/stores/connector.ts
  packages/sdk/src/api.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers-quote.service.ts
Due: eslint --fix

chore: remove kado from server
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/types/sdk.ts
  packages/server/.env.example
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers-registry.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/index.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/kado/types.ts
Due: eslint --fix

feat: add feature to configure services for quotes (#65)
  .changeset/cyan-rooms-share.md
  apps/demo/src/stores/connector.ts
  packages/sdk/src/api.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/types/sdk.ts
  packages/server/.env.example
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers-registry.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/index.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/kado/types.ts
Due: eslint --fix

chore(changeset): version packages (#66)
  .changeset/cyan-rooms-share.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

fix: remove kado references
  .changeset/loose-steaks-rush.md
  apps/demo/src/stores/connector.ts
  cspell.json
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: remove kado references (#67)
  .changeset/loose-steaks-rush.md
  apps/demo/src/stores/connector.ts
  cspell.json
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore(changeset): version packages (#68)
  .changeset/loose-steaks-rush.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

feat: add order info to step
  .changeset/chilly-heads-try.md
  packages/sdk/src/core/executors/TransakStepExecutor.ts
Due: eslint --fix

feat: add order info to step (#69)
  .changeset/chilly-heads-try.md
  packages/sdk/src/core/executors/TransakStepExecutor.ts
Due: eslint --fix

chore(changeset): version packages (#70)
  .changeset/chilly-heads-try.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

fix: cached access token for transak
  .changeset/quick-cars-march.md
  .changeset/weak-clubs-strive.md
  package-lock.json
  packages/sdk/package.json
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

fix: cached access token for transak (#71)
  .changeset/quick-cars-march.md
  .changeset/weak-clubs-strive.md
  package-lock.json
  packages/sdk/package.json
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore(changeset): version packages (#72)
  .changeset/quick-cars-march.md
  .changeset/weak-clubs-strive.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

fix: remove alias reference in delete queries and add more error logging.
  .changeset/witty-lions-agree.md
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

fix: remove alias reference in delete queries (#73)
  .changeset/witty-lions-agree.md
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

feat: update transak widgetURL generation, lifi version update
  .changeset/pink-pandas-behave.md
  CLAUDE.md
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/providers/src/providers/transak/type.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

feat: update transak widgetURL generation, lifi version update
  .changeset/pink-pandas-behave.md
  CLAUDE.md
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/providers/src/providers/transak/type.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

feat: update transak widgetURL generation, lifi version update (#76)
  .changeset/pink-pandas-behave.md
  CLAUDE.md
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/providers/src/providers/transak/type.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore(changeset): version packages (#74)
  .changeset/pink-pandas-behave.md
  .changeset/witty-lions-agree.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

ci: Migrated to npmjs trusted-publishers OIDC
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

ci: Migrated to npmjs trusted-publishers OIDC (#77)
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

ci(release): replace RELEASE_TOKEN with GITHUB_TOKEN
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

ci(release): replace RELEASE_TOKEN
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

ci(release): fix MATTERLABS_BOTS_APP_ID
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write

ci(release): revert permissions changes
  .github/workflows/release.yaml
Due: prettier --ignore-unknown --write
