Repository matter-labs/zksync-easy-onramp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.yml:

"*.{js,ts,vue,jsx,tsx,mjs,cjs,mts}":
  - eslint --fix
"*.{json,yml,jsonc,yaml,html,css,scss}":
  - prettier --ignore-unknown --write

chore: cleanup project a little
  .github/workflows/checks.yaml
  .gitignore
  apps/demo/.gitignore
  apps/demo/.vscode/extensions.json
  package-lock.json
Due: prettier --ignore-unknown --write

feat: coingecko integration and provider data improvements
  packages/server/.env.example
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/common/src/services/sync-manager.service.ts
  packages/server/libs/common/src/utils/helpers.ts
  packages/server/libs/common/src/utils/processInBatch.ts
  packages/server/libs/common/src/utils/waitFor.ts
  packages/server/libs/common/src/utils/worker.ts
  packages/server/libs/db/src/entities/index.ts
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/entities/sync-metadata.entity.ts
  packages/server/libs/db/src/entities/token.entity.ts
  packages/server/libs/db/src/migrations/1738613927423-Initial.ts
  packages/server/libs/db/src/migrations/1739403273426-Initial.ts
  packages/server/libs/db/src/repositories/index.ts
  packages/server/libs/db/src/repositories/sync-metadata.repository.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/index.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/config.ts
  packages/server/libs/tokens/src/index.ts
  packages/server/libs/tokens/src/provider/coingecko-token-data.service.ts
  packages/server/libs/tokens/src/token-data-saver.service.ts
  packages/server/libs/tokens/src/tokens.module.ts
  packages/server/libs/tokens/src/utils/index.ts
  packages/server/libs/tokens/tsconfig.lib.json
  packages/server/nest-cli.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: update gh workflow (#13)
  .github/workflows/checks.yaml
Due: prettier --ignore-unknown --write

feat: refactor SDK
  package-lock.json
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/core/executors/BaseStepExecutor.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/processMessages.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/main.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: workflow edit
  .github/workflows/checks.yaml
  package-lock.json
Due: prettier --ignore-unknown --write

chore: update sdk exports
  packages/sdk/src/index.ts
Due: eslint --fix

feat: improvements
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/app.module.ts
  packages/server/libs/common/src/decorators/is-bigintable.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/common/src/services/sync-manager.service.ts
  packages/server/libs/common/src/utils/sync-worker.ts
  packages/server/libs/common/src/utils/timed-cache.ts
  packages/server/libs/common/src/utils/waitFor.ts
  packages/server/libs/common/src/utils/worker.ts
  packages/server/libs/db/src/entities/base.entity.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/index.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
  packages/server/libs/tokens/src/tokens.module.ts
  packages/server/libs/tokens/src/tokens.service.ts
Due: eslint --fix

feat: coingecko integration and provider data improvements (#14)
  packages/sdk/src/types/server.ts
  packages/server/.env.example
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/common/src/decorators/is-bigintable.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/common/src/services/sync-manager.service.ts
  packages/server/libs/common/src/utils/helpers.ts
  packages/server/libs/common/src/utils/processInBatch.ts
  packages/server/libs/common/src/utils/sync-worker.ts
  packages/server/libs/common/src/utils/timed-cache.ts
  packages/server/libs/db/src/entities/base.entity.ts
  packages/server/libs/db/src/entities/index.ts
  packages/server/libs/db/src/entities/payment-option.entity.ts
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/entities/sync-metadata.entity.ts
  packages/server/libs/db/src/entities/token.entity.ts
  packages/server/libs/db/src/migrations/1738613927423-Initial.ts
  packages/server/libs/db/src/migrations/1739403273426-Initial.ts
  packages/server/libs/db/src/repositories/index.ts
  packages/server/libs/db/src/repositories/sync-metadata.repository.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/index.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/config.ts
  packages/server/libs/tokens/src/index.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
  packages/server/libs/tokens/src/tokens.module.ts
  packages/server/libs/tokens/src/tokens.service.ts
  packages/server/libs/tokens/src/utils/index.ts
  packages/server/libs/tokens/tsconfig.lib.json
  packages/server/nest-cli.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: formatting
  packages/sdk/package.json
Due: prettier --ignore-unknown --write

feat: server swaps support
  package-lock.json
  packages/server/.env.example
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/quote/index.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/swaps/src/config.ts
  packages/server/libs/swaps/src/index.ts
  packages/server/libs/swaps/src/swaps.module.ts
  packages/server/libs/swaps/src/swaps.service.ts
  packages/server/libs/swaps/tsconfig.lib.json
  packages/server/libs/tokens/src/utils/index.ts
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

fix: tokens db symbol formatting
  packages/server/libs/tokens/src/index.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
Due: eslint --fix

feat: combine kado quotes
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

fix: optimize requests
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/swaps/src/swaps.service.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

fix: do not request swap if token is equal to selected
  packages/server/apps/api/src/quote/quote.service.ts
Due: eslint --fix

feat: server swap support (#18)
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/types/server.ts
  packages/server/.env.example
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/quote/index.ts
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/swaps/src/config.ts
  packages/server/libs/swaps/src/index.ts
  packages/server/libs/swaps/src/swaps.module.ts
  packages/server/libs/swaps/src/swaps.service.ts
  packages/server/libs/swaps/tsconfig.lib.json
  packages/server/libs/tokens/src/index.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
  packages/server/libs/tokens/src/utils/index.ts
  packages/server/nest-cli.json
  packages/server/package.json
  packages/server/tsconfig.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: workflow edit
  .github/workflows/checks.yaml
Due: prettier --ignore-unknown --write

chore: fix type errors
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix

feat: refactor SDK (#15)
  .github/workflows/checks.yaml
  package-lock.json
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/core/executors/BaseStepExecutor.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/processMessages.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/main.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: update workflow
  .github/workflows/checks.yaml
  .vscode/extensions.json
  .vscode/settings.json
  apps/demo/.vscode/extensions.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

chore: update demo app
  apps/demo/src/components/on-ramp-views/BuyView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/main.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/quotes.ts
  cspell.json
  packages/sdk/src/api.ts
  packages/sdk/src/config.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: workfow format
  .github/workflows/checks.yaml
  package-lock.json
Due: prettier --ignore-unknown --write

chore: format
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/BuyView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/components/widget/WidgetPanel.vue
  apps/demo/src/main.ts
  apps/demo/src/router/index.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/quotes.ts
  apps/demo/src/utils/payment-method.ts
  apps/demo/vite.config.ts
Due: eslint --fix

chore: fix eslint config
  .vscode/settings.json
  apps/demo/.prettierrc.json
  apps/demo/e2e/vue.spec.ts
  apps/demo/eslint.config.ts
  apps/demo/package.json
  apps/demo/playwright.config.ts
  apps/demo/src/App.vue
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/BuyView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  apps/demo/src/components/widget/PanelHeader.vue
  apps/demo/src/components/widget/WidgetPanel.vue
  apps/demo/src/main.ts
  apps/demo/src/router/index.ts
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/quotes.ts
  apps/demo/src/utils/payment-method.ts
  apps/demo/vite.config.ts
  apps/demo/vitest.config.ts
  package-lock.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: update demo UI
  apps/demo/public/eth-token.svg
  apps/demo/src/assets/base.css
  apps/demo/src/components/TokenIcon.vue
  apps/demo/src/components/on-ramp-components/ProcessStatusIcon.vue
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/QuotesView.vue
  packages/sdk/src/types/server.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: cleanup
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  packages/sdk/src/dev.ts
Due: eslint --fix

chore: updates
  apps/demo/package.json
  apps/demo/public/eth-token.svg
  apps/demo/src/components/TokenIcon.vue
  apps/demo/src/components/on-ramp-views/BuyView.vue
  packages/sdk/src/api.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/src/types/server.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: demo app resume execution
  apps/demo/src/components/on-ramp-components/RouteSummary.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/TransactionView.vue
  apps/demo/src/components/on-ramp-views/TransactionsView.vue
  apps/demo/src/components/widget/PanelHeader.vue
  apps/demo/src/components/widget/WidgetPanel.vue
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/routes.ts
  apps/demo/src/stores/transaction.ts
  apps/demo/src/utils/format-value.ts
  packages/sdk/index.html
  packages/sdk/src/core/execution.ts
  packages/sdk/src/dev.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: demo app resume execution (#19)
  apps/demo/src/components/on-ramp-components/RouteSummary.vue
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/TransactionView.vue
  apps/demo/src/components/on-ramp-views/TransactionsView.vue
  apps/demo/src/components/widget/PanelHeader.vue
  apps/demo/src/components/widget/WidgetPanel.vue
  apps/demo/src/stores/on-ramp.ts
  apps/demo/src/stores/order-processing.ts
  apps/demo/src/stores/routes.ts
  apps/demo/src/stores/transaction.ts
  apps/demo/src/utils/format-value.ts
  packages/sdk/index.html
  packages/sdk/src/core/execution.ts
  packages/sdk/src/dev.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: implement lifi swap feature
  apps/demo/.env.example
  apps/demo/package.json
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/TransactionView.vue
  apps/demo/src/main.ts
  apps/demo/src/stores/connector.ts
  apps/demo/src/utils/formatters.ts
  apps/demo/src/utils/wagmi-adapter.ts
  cspell.json
  package-lock.json
  package.json
  packages/sdk/.env.example
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/config.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/LifiStepExecutor.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/vite.config.ts
  packages/server/.env.example
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/swaps/src/swaps.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: implement lifi swap feature (#20)
  apps/demo/.env.example
  apps/demo/package.json
  apps/demo/src/components/on-ramp-views/FormView.vue
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/components/on-ramp-views/TransactionView.vue
  apps/demo/src/main.ts
  apps/demo/src/stores/connector.ts
  apps/demo/src/utils/formatters.ts
  apps/demo/src/utils/wagmi-adapter.ts
  cspell.json
  package-lock.json
  package.json
  packages/sdk/.env.example
  packages/sdk/index.html
  packages/sdk/package.json
  packages/sdk/src/config.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/LifiStepExecutor.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/vite.config.ts
  packages/server/.env.example
  packages/server/apps/api/src/quote/quote.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/swaps/src/swaps.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

feat: add stop execution
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/stores/order-processing.ts
  cspell.json
  eslint.config.js
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
  packages/sdk/vite.config.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore: refactor state management
  apps/demo/src/components/on-ramp-views/OrderStatusView.vue
  apps/demo/src/stores/order-processing.ts
  packages/sdk/src/core/StepManager.ts
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/core/executors/BaseStepExecutor.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/executors/LifiStepExecutor.ts
  packages/sdk/src/index.ts
  packages/sdk/src/types/sdk.ts
Due: eslint --fix

chore: add external exuction options type
  packages/sdk/src/core/execution.ts
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/index.ts
Due: eslint --fix
