Repository matter-labs/zksync-easy-onramp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-unknown --write

.lintstagedrc.yml:

"*.{js,ts,vue,jsx,tsx,mjs,cjs,mts}":
  - eslint --fix
"*.{json,yml,jsonc,yaml,html,css,scss}":
  - prettier --ignore-unknown --write

chore: run migrations on server start (#47)
  packages/server/apps/api/src/main.ts
  packages/server/libs/db/src/runMigrations.ts
Due: eslint --fix

chore: add test log
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: fix package warning
  package-lock.json
  packages/server/apps/api/Dockerfile
  packages/server/package.json
Due: prettier --ignore-unknown --write

chore: do not display full url
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: add test log (#48)
  package-lock.json
  packages/server/apps/api/Dockerfile
  packages/server/libs/db/src/config.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

chore: improve error logs
  packages/server/libs/common/src/utils/sync-worker.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
Due: eslint --fix

chore: remove temp logs
  packages/server/libs/db/src/config.ts
Due: eslint --fix

chore: improve error logs (#49)
  packages/server/libs/common/src/utils/sync-worker.ts
  packages/server/libs/db/src/config.ts
  packages/server/libs/providers/src/providers-update.service.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
Due: eslint --fix

fix: remove read replicas
  packages/server/.env.example
  packages/server/libs/db/src/dbMetrics.service.ts
  packages/server/libs/db/src/typeorm.config.ts
Due: eslint --fix

Remove db read replicas (#50)
  packages/server/.env.example
  packages/server/libs/db/src/dbMetrics.service.ts
  packages/server/libs/db/src/typeorm.config.ts
Due: eslint --fix

chore: use npm to start server in docker
  packages/server/apps/api/Dockerfile
  packages/server/libs/db/src/typeorm.config.ts
Due: eslint --fix

chore: use npm to start server in docker (#51)
  packages/server/apps/api/Dockerfile
  packages/server/libs/db/src/typeorm.config.ts
Due: eslint --fix

fix: server improvements
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/utils/wagmi-adapter.ts
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/typeorm.config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
Due: eslint --fix

chore: add missing type
  packages/sdk/src/types/server.ts
Due: eslint --fix

chore: add changelog
  .changeset/stupid-ghosts-beg.md
Due: none

fix: server improvements (#52)
  .changeset/stupid-ghosts-beg.md
  apps/demo/src/components/on-ramp-components/QuoteOption.vue
  apps/demo/src/utils/wagmi-adapter.ts
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/config-controller/config.dto.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/chains/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/typeorm.config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/offchain-provider/coingecko-token-data.service.ts
Due: eslint --fix

chore(changeset): version packages (#53)
  .changeset/stupid-ghosts-beg.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

fix: token related fixes
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/utils/sync-worker.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
  packages/server/libs/tokens/src/utils/index.ts
Due: eslint --fix

fix: delete query
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
Due: eslint --fix

fix: lower autoupdate interval
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/config.ts
Due: eslint --fix

fix: remove duplicate supported tokens
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

fix: prevent duplicates via sql
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/migrations/1743002325976-MakeSupportedTokenUnique.ts
Due: eslint --fix

Revert "fix: remove duplicate supported tokens"
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

chore: token related fixes (#54)
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/utils/sync-worker.ts
  packages/server/libs/db/src/entities/supported-token.entity.ts
  packages/server/libs/db/src/migrations/1743002325976-MakeSupportedTokenUnique.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/tokens/src/config.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
  packages/server/libs/tokens/src/utils/index.ts
Due: eslint --fix

chore: add kado api key
  packages/server/.env.example
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

chore: add kado api key (#55)
  packages/server/.env.example
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
Due: eslint --fix

feat: transak status endpoint and sdk support
  packages/sdk/README.md
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
  packages/server/.env.example
  packages/server/apps/api/src/order-status/index.ts
  packages/server/apps/api/src/order-status/order-status.controller.ts
  packages/server/apps/api/src/order-status/order-status.dto.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/common/src/utils/timed-cache.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/transak/index.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/providers/src/providers/transak/type.ts
  packages/server/libs/tokens/src/config.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
Due: eslint --fix

fix: dev updates
  packages/sdk/index.html
  packages/sdk/src/dev.ts
Due: eslint --fix, prettier --ignore-unknown --write

fix: do not fail quotes request when one provider fails
  packages/sdk/src/dev.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/utils/helpers.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

fix: quality of life improvements
  packages/sdk/src/dev.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

fix: transak staging
  packages/sdk/src/dev.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

fix: quote by payment method
  packages/sdk/src/core/executionState.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/server.ts
  packages/server/apps/api/src/config-controller/config.controller.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/helpers.ts
  packages/server/libs/common/src/quotes/index.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/db/src/enums/index.ts
  packages/server/libs/providers/src/provider.interface.ts
  packages/server/libs/providers/src/providers-quote.service.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/tokens/src/utils/index.ts
Due: eslint --fix

fix: minor fix
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/order-status/order-status.controller.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

fix: get order id via redirect
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
Due: eslint --fix

chore: update changeset to include sdk
  .changeset/smart-stars-rescue.md
Due: none

feat: add transak provider support (#32)
  .changeset/smart-stars-rescue.md
  package-lock.json
  packages/sdk/README.md
  packages/sdk/index.html
  packages/sdk/src/core/executors/ExecutorFactory.ts
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/sdk/src/dev.ts
  packages/sdk/src/types/sdk.ts
  packages/server/.env.example
  packages/server/apps/api/src/app.module.ts
  packages/server/apps/api/src/order-status/index.ts
  packages/server/apps/api/src/order-status/order-status.controller.ts
  packages/server/apps/api/src/order-status/order-status.dto.ts
  packages/server/apps/api/src/quote/quote.service.ts
  packages/server/libs/common/src/quotes/quotes.dto.ts
  packages/server/libs/common/src/utils/helpers.ts
  packages/server/libs/common/src/utils/timed-cache.ts
  packages/server/libs/providers/src/config.ts
  packages/server/libs/providers/src/providers-registry.service.ts
  packages/server/libs/providers/src/providers.module.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/index.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/libs/providers/src/providers/transak/type.ts
  packages/server/libs/tokens/src/config.ts
  packages/server/libs/tokens/src/tokens-data-saver.service.ts
Due: eslint --fix, prettier --ignore-unknown --write

chore(changeset): version packages (#57)
  .changeset/smart-stars-rescue.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
Due: prettier --ignore-unknown --write

fix: bug with executors
  .changeset/fancy-forks-reply.md
  apps/demo/src/stores/connector.ts
  cspell.json
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write

fix: bug with executors (#58)
  .changeset/fancy-forks-reply.md
  apps/demo/src/stores/connector.ts
  cspell.json
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/core/executors/KadoStepExecutor.ts
  packages/sdk/src/core/executors/TransakStepExecutor.ts
  packages/server/libs/providers/src/providers/kado/kado.provider.ts
  packages/server/libs/providers/src/providers/transak/transak.provider.ts
  packages/server/package.json
Due: eslint --fix, prettier --ignore-unknown --write
